In [16]:
import pandas as pd

In [18]:
s1=pd.Series([2,34,5,6])
s1

0     2
1    34
2     5
3     6
dtype: int64

In [19]:
s2=pd.DataFrame({'Name':['Bob', 'John', 'Anne'], 'Marks':[76,56,27]})
s2

   Name  Marks
0   Bob     76
1  John     56
2  Anne     27